@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

main {
    border-radius: 20px;
    box-shadow: 5px 5px 15px #c884a6c2;
    background-color: white;
    width: 1300px;
    padding: 5px;
    margin: auto;
}

h1 {
    border-radius: 5px;
    background-color: #778A8C;
    color: #F2CECE;
    text-align: center;
    text-shadow: 1px 1px 2px #525e60;
}

h2 {
    color: #dc7622;
    text-align: center;
}

body {
    background-image: linear-gradient(to right, #BF6586 30%, #D966BA);
}

p {
    text-align: justify;
}